<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      {{ content }}

      <footer>
        <p>Copyright 2013 - 2016 by <a rel="longshengzhou" href="http://lszhou.github.io/about/">Longsheng Zhou</a></p>
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
